body {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  font-size: 30px;
  background-image: url(https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/3253300/9cad239dce663a4d9bcf3cc013411e7bcaab58a5/capsule_616x353.jpg?t=1732659042);
  background-position: center;
  background-size: cover;
}

h1 {
  color: white;
}
.letters {
  border-radius: 20%;
}
button {
  cursor: pointer;
  border-radius: 20%;
  padding: 16px 16px;
}

.reset {
  border-radius: 30%;
}

.hidden {
}

#words-underline {
  display: flex;
  font-weight: bolder;
  color: white;
  justify-content: center;
}

#hint {
  font-weight: bolder;
  font-size: 80%;
  color: white;
}

.strikes {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: white;
}

#winner {
  color: white;
}
