body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.647);
}

.letters,
button {
  margin: 0 auto 10pc auto;
  padding: 10px;
  font-size: larger;
  border-radius: 190px;
  display: inline-block;
}

.reset {
  margin-bottom: 350px;
  padding: 20px;
  border-radius: 40px;
  display: flex;
}

.hidden {
  visibility: hidden;
}

#words-underline {
  display: flex;
  color: white;
  justify-content: center;
  gap: 10px;
  font-size: 40px;
}

image {
  align-self: center;
}

#hint {
  font-size: 40px;
}
