body {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  text-align: center;
  position: relative;
  margin-top: 25%;
  background-image: url(https://cdn.pixabay.com/photo/2022/09/21/10/27/pumpkins-7469995_1280.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

button {
  cursor: pointer;
  color: rgb(252, 164, 0);
  border-radius: 10%;
  padding: 18px 18px;
}

h1 {
  color: rgb(252, 164, 0);
}

h2 {
  font-weight: bolder;
  color: rgb(252, 164, 0);
}
