body {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  font-size: 30px;
  background-image: url(https://cdn.pixabay.com/photo/2022/09/21/10/27/pumpkins-7469995_1280.jpg);
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  height: 120vh;
  background-size: cover;
}

h1 {
  color: white;
}
.letters {
  border-radius: 20%;
}
button {
  cursor: pointer;
  border-radius: 20%;
  padding: 14px 12px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  background-color: orange;
  border-radius: 20%;
  margin-bottom: 2%;
}

#words-underline {
  display: flex;
  font-weight: bolder;
  color: white;
  justify-content: center;
}

#hint {
  font-weight: bolder;
  font-size: 100%;
  color: white;
}

.strikes {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: white;
}

#winner {
  color: white;
  font-weight: bold;
}

#game-is-over {
  color: white;
  font-weight: bold;
}
